{% extends 'base.html' %}
{% block title %}
    상품 등록
{% endblock %}
{% block content %}
    <div class="container">
        <div class="wrap">
            <h2 class="title-center"> 상품 등록 </h2>
            <form class="form-area" method="post" action="/productcreate/">
                {% csrf_token %}

                <label for="product_type">상품 종류</label>
                <select class="form-select" id="product_type" name="product_type">
                    <option selected>-----</option>
                    <option value="HD">후드티</option>
                    <option value="JN">청바지</option>
                    <option value="SO">양말</option>
                    <option value="HT">모자</option>
                </select>
                </n>
                <label for="product_code">상품 코드</label>
                <select class="form-select" id="product_code" name="product_code">
                    <option selected>-----</option>
                    <option value="hood-001">hood-001</option>
                    <option value="hood-002">hood-002</option>
                    <option value="hood-003">hood-003</option>
                    <option value="jean-001">jean-001</option>
                    <option value="socks-001">socks-001</option>
                    <option value="hat-001">hat-001</option>
                </select>
                </n>
                <div class="form-group mt-2 mb-2">
                    <label for="product_name">상품명</label>
                    <input type="text" class="form-control" id="product_name" name="product_name">
                </div>
                </n>
                <label for="product_size">상품 사이즈</label>
                <select class="form-select" id="product_size" name="product_size">
                    <option selected>-----</option>
                    <option value="S">Small</option>
                    <option value="M">Medium</option>
                    <option value="L">Large</option>
                    <option value="F">Free</option>
                </select>
                </n>
                <div class="form-group mt-2 mb-2">
                    <label for="product_price">상품 가격</label>
                    <input type="text" class="form-control" id="product_price" name="product_price">
                </div>
                </n>
                <div class="form-group mt-2 mb-2">
                    <label for="product_desc">상품 설명</label>
                    <input type="text" class="form-control" id="product_desc" name="product_desc">
                </div>

                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endif %}
                <hr>
                <div style="float: right">
                    <button type="submit" class="btn btn-primary">등록하기</button>
                    <a href="/login" class="btn btn-secondary">취소하기</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}